@using GestorDePaciente.Core.Application.ViewModels.Users
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http;
@using GestorDePaciente.Core.Application.Helpers;
@using GestorDePaciente.Core.Application.ViewModels.Office.Patient
@model List<GestorDePaciente.Core.Application.ViewModels.Lab.Test.LabTestViewModel>
@{
    ViewData["Title"] = "Laboratorio";
}
@inject IHttpContextAccessor HttpContextAccessor
@{
    UserViewModel userAc = HttpContextAccessor.HttpContext?.Session?.Get<UserViewModel>("user")!;
}
<style>
    .btn-outline-primary {
        color: white;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mt-3">Mantenimiento de Pruebas de Laboratorios</h1>
            <div class="mt-5 mb-4 d-flex justify-content-end">
                <a class="btn btn-outline-primary" asp-controller="LabTest" asp-action="Create">Agregar una nueva Prueba</a>
            </div>
            @if (Model != null && Model.Any())
            {
                <div class="card">
                    <div class="card-body text-black">
                        <table class="table table-sm table-hover table-borderless text-center">
                            <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Prueba</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach (var lbt in Model)
                            {
                                @if (lbt != null)
                                {
                                    <tr>
                                        <td>
                                            @foreach (var paciente in ViewBag.Patients as List<PatientViewModel> ?? new List<PatientViewModel>())
                                            {
                                                if (paciente.DoctorOfficeId == lbt.IdDoctorOffice)
                                                {
                                                    <option value="@paciente.Id">@paciente.Name</option>
                                                }
                                            }
                                        </td>
                                        <td>@lbt.Name</td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-warning text-black" asp-controller="LabTest" asp-action="Edit" asp-route-idLabTest="@lbt.Id">Editar</a>
                                            <a class="btn btn-sm btn-outline-danger" asp-controller="LabTest" asp-action="Delete" asp-route-idLabTest="@lbt.Id" onclick="eliminar(event, @lbt.Id)">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-body text-black">
                        No hay pruebas registradas
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function eliminar(event, idLaboratorio) {
            event.preventDefault();
            
            @if (TempData["Error"] != null)
            {
                <text>
                    Swal.fire({
                        title: '@TempData["Error"]',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                </text>
            }
            else
            {
                <text>
                    Swal.fire({
                        title: '¿Está seguro de que desea eliminar esta prueba?',
                        showDenyButton: true,
                        confirmButtonText: `Si`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = `/LabTest/Delete?idLabTest=${idLaboratorio}`;
                        }
                    });
                </text>
            }
        }
    </script>
}